@{
    ViewData["Title"] = "Home Page";
}

<div id="container" style="background-color: white;">

    <div class="jumbotron" style="background-color: darkgray">
        <h1 style="float: left">Contoso University</h1>
        <img style="padding-left: 150px" src="~/full building image.jpg" height="300" width="600" />
    </div>
    <div style="padding: 25px" class="row">
        <div class="col-md-4">
            <h2>Welcome to Contoso University</h2>
            <p>
                Contoso University is a competetive University based out of Pleasant Grove, Utah!
                We specialize in IT and Computer Science Programs.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Modern Campus</h2>
            <img src="~/university.jpg" height="200" width="350" />
        </div>
        <div class="col-md-4">
            <h2>We welcome you!</h2>
            <p>We invite you to join us for our on campus tours!  Please register for a tour by calling 801-801-8010</p>
        </div>
    </div>
</div>